name: where_am_i_ui
description: A Figma-based Flutter mock UI.
version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.0.12
  cached_network_image: ^3.4.1
  gradient_borders: ^1.0.2
  sizer: ^2.0.15
  cupertino_icons: ^1.0.6
  provider: ^6.1.5+1
  vibration: ^1.8.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/InterRegular.ttf
          weight: 400
        - asset: assets/fonts/InterBold.ttf
          weight: 700
